@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black;
    display: flex;
    align-items: center;
    cursor: pointer;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0.2);
    background: #fff;
    position: static;
    top: 0;
    z-index: 10;
}
.background{
    display: flex;
    width: auto;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 90px;
    transition: margin-left 0.5s;
    background: linear-gradient(0deg, #F3EBFF 22.4%, #DECDF7 51.4%, #FBCCF0 93.47%);
}

.side-nav:hover + .background {
    margin-left: 250px; 
}

.side-nav{
    width: 90px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
    flex-shrink: 0;
}

.button{
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
}


.button:hover {
    background-color: #77669e;
  }

.menu li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-block: 10px;
    padding-inline: 20px;
}
.menu li p{
    white-space: nowrap;
    display: none;
    font-size: 0.875rem;
    
}


.menu li img {
    margin-right: 10px; 
    width: 24px;
}

.menu li.active {
    background-color:#afbdfa8d;
    color: white;
    border-radius: 15px;
}

.menu li:hover:not(.active) {
    background-color: #cececea4;
    color: white;
    border-radius: 15px;
  }

.logo{
    display: flex;
    width: 60px;
    align-items: center;
    margin-bottom: 15px;
    overflow: hidden;
}

.logo h2{
    font-size:medium ;
}

.logo img{
    margin-right: 10px;
}

.side-nav hr{
    margin-top: auto;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid black;
    width: 100%;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout li {
    list-style-type: none; /* Remove default bullet */
}

.logout p{
    font-size: 0.875rem;
  } 
  
.side-nav:hover{
    width: 250px;
}

.side-nav:hover .logo div{
    display: block;
}

.side-nav:hover .logo{
    width: 100%;
}

.side-nav:hover .menu li p{
    display: block;
}

.side-nav:hover .menu li img{
    margin-right: 20px;
    width: 24px;
}

.top {
    width: 100%; /* Set the width to 100% */
    height: 40px;
    background: var(--purple-1, #E4ACF7);
    display: flex;
    align-items: center;
    padding: 10px;
}


.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    margin-left: auto;
    align-items: center;
}


.right img {
    margin-inline: 8px; /* Adjust spacing between image and text */
    width: 20px;
  }
  
  .right p {
    margin: 0; /* Remove default margin for <p> */
  }

  .dropbtn, .rightbtn {
    background-color: var(--purple-3, #E4ACF7);
    font-size: 13px;
    border: none;
    padding: 3px 6px; /* Adjust padding */
    justify-content: center;
    align-items: center; /* Add align-items to center vertically */
    display: flex;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


.right-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    top: 32px; /* Position below the button */
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.right:hover .right-content {
    display: block;
}

  .dropdown-content a , .right-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover, .right-content a:hover {background-color: #ddd; border-radius: 10px;}
  
  .dropdown:hover .dropdown-content {display: block;}

  .right:hover .right-content {display: block; }
  
  .dropdown:hover .dropbtn {font-weight: bold; color:#930d59}

  .right:hover .rightbtn {font-weight: bold; color:#930d59}


.container {
    background: rgba(255, 255, 255, 0.4);
    width: auto;
    display: block;
    height: max-content;
    margin: 30px;
    margin-top: 20px;
    padding: 20px; 
    border-radius: 19px;
    height:  min-content;
}


.displayPlan h4 {
    font-weight: normal; 
}

.current-plan {
    background-color: #e6f7ff;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="submit"] {
    background-color: #F3EAFF;
    color: black;
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #F3EAFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #F3EAFF; 
}

 td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}


.price-table,
.displayPlan,
.form-container,
.receipt-history {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    max-width: 100%;
    overflow: auto;
}


.displayPlan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}


.buttonContainer {
    position: relative;
}


.viewButton{
    background-color: #F3EAFF;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.keepSubsButton,
#confirmSubmission,
#upgradeSubscription {
    background-color: #DFF0D8; /* Pale green */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-right: 10px;
}

.cancelButton,
#confirmCancel,
#cancelSubscription {
    background-color: #F2DEDE; /* Pale red */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
   
}
.subscription-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.subscription-actions button {
    margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.cancelModal .modal-content {
    display: flex;
    flex-direction: column;
}

.cancelModal .subscription-actions {
    margin-top: auto;
    display: flex; 
    justify-content: flex-end; 
}

.cancelModal .subscription-actions button {
    margin-left: 10px; 
}


#receiptModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#receiptModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

#receiptModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#receiptModal .close:hover,
#receiptModal .close:focus {
    color: black;
    text-decoration: none;
}

.modal-content1,.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

