@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

  body{
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #F3EBFF 22.4%, #DECDF7 51.4%, #FBCCF0 93.47%);
    background-attachment: fixed;
  }

  :root{
    --purple-1: #A68AE6;
    --purple-2: #845CFC;
  }

  a{
    text-decoration: none;
    color:black;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .right img{
    cursor: pointer;
  }
  .flex-div{
    display: flex;
    align-items: center;
  }
  nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0.2);
    background: #fff;
    position: static;
    top: 0;
    z-index: 10;
}
  .header{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    position: relative;
  }
  .side-nav{
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
    flex-shrink: 0;
    z-index: 50;
  }
  .side-nav:hover + .background {
    margin-left: 250px; 
}
  .menu li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-block: 10px;
    padding-inline: 20px;
}
.menu li p{
  white-space: nowrap;
  display: none;
  font-size: 0.875rem;
}

.menu li img {
    margin-right: 10px; 
    width: 24px;
}

.menu li.active {
    background-color:#afbdfa8d;
    color: white;
    border-radius: 15px;
}

.menu li:hover:not(.active) {
    background-color: #cececea4;
    color: white;
    border-radius: 15px;
  }

  .logo{
    display: flex;
    width: 60px;
    align-items: center;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .logo h2{
    font-size: 1rem;
    font-weight: 700;
  }
  .logo img{
    margin-right: 10px;
  }
  .side-nav hr{
    margin-top: auto;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid black;
    width: 100%;
  }
  .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .logout img{
    width: 24px;
    height: auto;
    margin-right: 10px;
  }
  .logout li {
    list-style-type: none; /* Remove default bullet */
  }
  .logout p{
    font-size: 0.875rem;
  }
  .side-nav:hover{
    width: 225px;
  }
  .side-nav:hover .logo div{
    display: block;
  }
  .side-nav:hover .logo{
    width: 100%;
  }
  .side-nav:hover .menu li p{
    display: block;
  }
  .side-nav:hover .menu li img{
    margin-right: 20px;
    width: 24px;
  }
  .side-nav hr{
    margin-top: auto;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid black;
    width: 100%;
}


  .top {
    position: fixed;
    top: 0;
    right: 0px; /* Adjust this value according to the width of your side-nav */
    width: calc(100% - 110px);
    height: 40px;
    z-index: 40;
    background: var(--purple-3, #E4ACF7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .top h4{
    font-size: 0.875rem;
    font-weight: 400;
  }
  .left {
    margin-right: auto; /* Push "Help" link to the left */
  }
  .right {
    display: flex;
    align-items: center;
  }
  .right img {
    margin-left: 5px; /* Adjust spacing between image and text */
  }
  .right p {
    margin: 0; /* Remove default margin for <p> */
  }

  .dropbtn, .rightbtn {
    background-color: var(--purple-3, #E4ACF7);
    font-size: 13px;
    border: none;
    padding: 3px 6px; /* Adjust padding */
    justify-content: center;
    align-items: center; /* Add align-items to center vertically */
    display: flex;
  }
  
  .rightbtn img{
    width: 20px;
    height: auto;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .right-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    top: 32px; /* Position below the button */
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.right-content h4{
  font-weight: bold;
}

.right:hover .right-content {
    display: block;
}

  .dropdown-content a , .right-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover, .right-content a:hover {background-color: #ddd; border-radius: 10px;}
  
  .dropdown:hover .dropdown-content {display: block;}

  .right:hover .right-content {display: block; }
  
  .dropdown:hover .dropbtn {font-weight: bold; color:#930d59}

  .right:hover .rightbtn {font-weight: bold; color:#930d59}



  .user-greetings {
    width: calc(100% - 150px);
    height: 510px;
    border-radius: 19px;
    position: absolute;
    top: 80px; /* Height of .top */
    left: 170px; /* Width of .side-nav */
    z-index: 15;
    font-family: 'Poppins', sans-serif;
  }

  .link-soc-med{
    width: 800px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 150px;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 80px;
  }

  .link-soc-med .link-content{
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
  }

  .link-soc-med .right-column{
    grid-column: 2 / span 1;
  }

  .link-soc-med .link-title{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1em;
  }

  .link-soc-med .link-description{
    font-size: 0.85em;
    margin-bottom: 15px;
  }

  .link-btn{
    width: 30%;
    background: var(--purple-1);
    color: white;
    font-weight: 600;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    align-self: flex-end;
  }

  .right-column p{
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 15px;
  }

  .soc-med-container{
    display: flex;
  }

  .soc-med-container .soc-med-icons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 25px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .soc-med-container .soc-med-icons img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .soc-med-container .soc-med-icons:hover{
    animation: float 0.5s ease-in-out infinite alternate;
  }

  .subscription-plan{
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 990px;
    padding: 1.35em;
  }

  .subscription-plan .payment-content{
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
  }

  .payment-content .payment-title{
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1em;
  }
  .payment-plan{
    font-size: 0.85rem;
  }

  .payment-btn{
    width: 30%;
    background: #F3EAFF;
    color: black;
    font-weight: 600;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    align-self: flex-end;
    margin-top: 15px;
  }

  .payment-content .payment-description{
    font-size: 0.85em;
  }

  .analytics-box{
    width: 800px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 370px;
    left: 150px;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .analytics-box .analytics-content{
    grid-column: 1 / span 1;
  }

  .analytics-box .right-column{
    grid-column: 2 / span 1;
  }

  .pattern h3{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .analytics-box-title{
    margin-bottom: -20px;
    font-weight: 600;
    grid-column: 1 / span 2;
    text-align: center;
  }
  .analytics-btn{
    width: 20%;
    background: var(--purple-1);
    color: white;
    font-weight: 600;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    grid-column: 1 / span 2;
    margin: 50px auto;
    margin-top: -10px;
    margin-bottom: 0px;
  }

  .scheduled-postings{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 370px;
    left: 990px;
    padding: 1.35em;
  }

  .scheduled-postings .scheduled-title{
    margin-bottom: -20px;
    font-weight: 600;
    text-align: center;
  }

  .tab-container{
    width: 350px;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .325);
    border-radius: 20px;
    position: relative;
    top: 40px;
  }

  .tab-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;border-bottom: 2px solid rgba(229, 229, 229);
    font-size: 18px;
    font-weight: 600;
    position: relative;
  }

  .tab-box .tab-button{
    font-size: 13px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .tab-box .tab-button.active{
    color: #845CFC;
  }

  .line{
    position: absolute;
    top: 38px;
    left: 28px;
    width: 60px;
    height: 5px;
    background-color: #7360ff;
    border-radius: 10px;
    transition: all .3s ease-in-out;
  }
  .content-box{
    padding: 20px;
  }

  .content-box .tab-content{
    display: none;
    animation: moving .5s ease;
  }

  @keyframes moving{
    from{transform: translateX(50px); opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
  }

  .content-box .tab-content.active{
    display: block;
  }

  .content-box .content h3{
    margin-bottom: 10px;
  }

.schedule-container{
  width: 80%;
  height: auto;
  background-color: #F3EBFF;
}

.tab-content {
    display: none;
    padding: 0 10px 50px 10px;
}

.tab-content.active {
    display: block;
}

.tab1-notice{
  width: fit-content;
  height: auto;
  background-color: transparent;
  padding: 1rem;
  border-radius: 15px;
  position: relative;
  top: 20px;
  z-index: 30;
  font-size: 0.885rem;
}

  .my-posts{
    width: 800px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 800px;
    left: 150px;
    padding: 1.5em;
    visibility: hidden;
  }

  .posts-title{
    margin-bottom: -20px;
    font-weight: 600;
    text-align: center;
  }

footer{
  color: #000;
  padding: 20px 0;
  text-align: center;
  
}

.footer-end{
  width: 800px;
  margin: 0 auto;
  
}
